<template>
  <div class="fixed right-0 bottom-0 m-5 z-100 flex font-sans select-none leading-1em">
    <div
      class="bg-white text-gray-800 rounded-full shadow w-max h-min"
      p="x-4 y-2"
      m="y-auto r-2"
      transition="opacity duration-300"
      :class="show ? 'opacity-100' : 'opacity-0'"
    >Vitesse WebExt</div>
    <div
      class="flex w-10 h-10 rounded-full shadow cursor-pointer"
      bg="teal-600 hover:teal-700"
      @click="toggle()"
    >
      <pixelarticons-power class="block m-auto text-white text-lg" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useToggle } from '@vueuse/core'
import 'virtual:windi.css'

const [show, toggle] = useToggle(false)

document.addEventListener('click', ({ target }) => {
  const element: any = target

  const script = document.createElement('script')
  script.type = 'text/javascript'
  const code = `
    alert('${element.innerText}');
  `
  try {
    script.appendChild(document.createTextNode(code))
    document.body.appendChild(script)
  }
  catch (e) {
    script.text = code
    document.body.appendChild(script)
  }
})

let currentElementStyle: HTMLStyleElement
document.addEventListener('mouseover', ({ target }) => {
  target?.addEventListener('mouseover', ({ target }) => {
    const element: any = target
    currentElementStyle = element.style
    element.style.backgroundColor = 'pink'
  })
  target?.addEventListener('mouseout', ({ target }) => {
    const element: any = target
    element.style = currentElementStyle
  })
})
</script>
